export(survcure)
export(randomforestcure)
export(curetree)
export(cureforest)
export(cure_importance)
export(compare_cureforest)
export(cureforest_demo)
S3method(print,survcure)
S3method(summary,survcure)
S3method(print,summary.survcure)
S3method(predict,survcure)
S3method(plot,survcure)
S3method(print,randomforestcure)
S3method(print,cureforest_benchmark)
S3method(summary,randomforestcure)
S3method(print,summary.randomforestcure)
S3method(predict,randomforestcure)
importFrom(graphics,axis,plot,segments,text,title)
importFrom(parallel,clusterExport,makePSOCKcluster,parLapplyLB,stopCluster)
importFrom(stats,delete.response,model.frame,model.matrix,model.response,na.omit,predict,quantile,terms,var)
importFrom(survival,Surv,basehaz,coxph,coxph.control)
importFrom(utils,head)
